.gitignore
.DS_Store
__pycache__/

notebooks/.ipynb_checkpoints/

*.pkl
*.pickle
*.memmap
data/*.fits*
data/*.csv
figures/*.pdf
figures/*.png

*.stan.cached

article/ms.bbl
article/ms.blg
article/vc.tex
article/msNotes.bib
article/ms.aux
article/*.log
article/ms.pdf
article/ms.synctex.gz

results/

figures/

attic/
